xmlS.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
  <xs:element name="book_inventory">
    <xs:complexType>
      <xs:sequence>
 
        <xs:element name="author" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="url"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="writes" use="optional"/>
          </xs:complexType>
        </xs:element>
 
        <xs:element name="book" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="isbn"/>
              <xs:element type="xs:string" name="price"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:short" name="year"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="writtenBy" use="optional"/>
          </xs:complexType>
        </xs:element>
 
        <xs:element name="publisher">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="phone"/>
              <xs:element type="xs:string" name="url"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="pid"/>
          </xs:complexType>
        </xs:element>
  
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>